html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 480px;
  min-height: 100vh;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;

  color: var(--color-main);
  background-color: var(--background-color-main);
  overflow-x: hidden;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}
