.cms {
  padding: 80px 0;
}

.heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.heading:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;

  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--color-third);
}

.heading__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-second);
}

.heading__total-amount {
  font-size: 14px;
  font-weight: 500;

  color: var(--color-second);
}

.heading__price {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-accent);
}

.goods {
  padding-top: 15px;

  background-color: var(--background-color-second);
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.goods__heading {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 16px;
  padding-inline: 20px;
}

.goods__filter-button {
  padding: 11px 10px 10px 40px;
  border: 1px solid var(--color-third);

  font-size: 16px;
  font-weight: 400;

  color: var(--color-main);
  background-image: url(../img/filter.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border-radius: var(--border-radius);
}

.goods__filter-button:hover,
.goods__filter-button:focus {
  outline: 1px solid var(--color-third);
}

.goods__filter-button:active {
  scale: .98;
}

.search {
  position: relative;
  max-width: 392px;
  width: 100%;
}

.search__input {
  width: 100%;
  padding: 13px 0 12px 40px;

  font-family: inherit;
  font-weight: 400;

  border: none;
  background-color: var(--background-color-main);
  border-radius: var(--border-radius);
}

.search__input::placeholder {
  color: var(--color-second);
}

.search__input:hover,
.search__input:focus {
  outline: 1px solid var(--color-third);
}

.search__button {
  position: absolute;
  left: 10px;
  top: 10px;

  outline: none;
}

.search__button:hover .search__button-icon,
.search__button:focus .search__button-icon {
  color: var(--color-accent);
}

.search__button-icon {
  color: var(--color-second);
}

.goods__add-product {
  flex-shrink: 0;
  margin-left: auto;
  padding: 10px 16px;
}

.goods__table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table__row:first-child {
  border-top: 1px solid var(--color-third);
}

.table__row:not(:last-child) {
  border-bottom: 1px solid var(--color-third)
}

.table__header-title {
  height: 45px;

  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-second);
  background-color: var(--background-color-main);
}

.table__body-date {
  height: 60px;

  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.table__body-button {
  outline: none;
}

.table__body-button:not(:last-child) {
  margin-right: 20px;
}

.table__body-button:hover .table__body-icon,
.table__body-button:focus .table__body-icon {
  color: var(--color-accent);
}

.table__body-icon {
  color: var(--color-second);
}

.goods__footer {
  display: flex;
  height: 45px;
  justify-content: end;
  align-items: center;
  column-gap: 50px;

  letter-spacing: 0.05em;

  color: var(--color-second);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--background-color-main);
}

.goods__select-count {
  border: none;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  color: inherit;
  background-color: inherit;
}

.goods__select-count:hover,
.goods__select-count:focus {
  outline: 1px solid var(--color-third);
}

.goods__page {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.goods__page:hover .goods__page-icon,
.goods__page:focus .goods__page-icon {
  color: var(--color-accent);
}

.goods__page--next {
  padding-right: 20px;
}

.goods__page-icon {
  color: var(--color-second)
}

/* Media */

@media (max-width: 1140px) {
  .goods__table-wrapper {
    overflow-x: auto;
  }

  .table {
    min-width: 1140px;
  }
}

@media (max-width: 740px) {
  .goods__heading {
    flex-wrap: wrap;
    gap: 10px;
  }

  .search {
    max-width: 100%;
    order: 1;
  }

  .goods__footer {
    column-gap: 30px;
  }
}
